body,
html {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
    line-height: 0;
    height: 80px;
}

.header__top {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 70%;
    padding: 20px 0;
}

.header__logo img {
    max-width: 370px;
    height: auto;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav__button {
    width: 120px;
    display: flex;
    justify-content: center;
}

.logout__button{
    all:unset;
    color: white;
    background-color: #000000;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.button{
    color: white;
    background-color: #000000;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}




@media (max-width: 1300px) {
    .header {
        display: flex;
        flex-direction: column;
        padding:0 20px;
        height: 110px;
        gap: 0;
        line-height: 0;
    }

    .header__top {
        width: 100%;
        padding: 0;
    }

    .header__logo img {
        max-width: 200px;
    }


    .header__bottom{
        margin-bottom: 15px;
    }

    .button {
        font-size: 20px;
    }


    nav{
        gap: 100px;
    }
}


@media (max-width: 759px) {
    .header__top {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .header__ttl{
        padding: 0;
    }

    .header__logo img {
        max-width: 150px;
        height: auto;
    }

    .button {
        font-size: 15px;
    }

    nav{
        gap: 50px;
    }
}